@model IEnumerable<Nigeria_Reg.Models.SYSUserProfile>

    <span class="alert-success">@ViewBag.Message</span>

    <div>
        <h2>List of Users</h2>

        <br />
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User name</th>
                    <th>Password</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Organization</th>
                    <th colspan="4">Email</th>
                    <th colspan="2"></th>

                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var p in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        @*<td> @Html.DisplayFor(m => p.SYSUserID)</td>*@


                        <td> @Html.DisplayFor(m => p.SYSUser.LoginName)</td> 

                        <td> ******</td>

                        <td> @Html.DisplayFor(m => p.FirstName)</td>
                        <td> @Html.DisplayFor(m => p.LastName)</td>
                        <td> @Html.DisplayFor(m => p.Gender)</td>

                        <td> @Html.DisplayFor(m => p.tlkp_Provider.value)</td>
                        <td> @Html.DisplayFor(m => p.Email)</td>

                        <td> @Html.HiddenFor(m => p.SYSUserID)</td> 
                        <td> @Html.HiddenFor(m => p.SYSUserProfileID)</td> 
                        <td> @Html.HiddenFor(m => p.SYSUser.HashedPassword)</td>

                        @*<td><a href="javacript:void(0)" class="lnkEdit">Edit</a></td>
                            <td><a href="javacript:void(0)" class="lnkDelete">Delete</a></td>*@
                        <td>
                            @Html.ActionLink("Edit", "EditUser", new { id = p.SYSUserProfileID }) |
                            @Html.ActionLink("Delete", "DeleteUser", new { id = p.SYSUserProfileID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
